.App body {
  font-family: "Barlow", sans-serif;
}

.App .hero {
  background: #282f44;
  padding: 40px;
}

.App h1 {
  font-size: 64px;
  text-align: center;
  margin: 40px;
  color: #e6af2e;
}

.App p {
  text-align: center;
  color: #f5d061;
  line-height: 2;
}
