.App body {
  font-family: "Barlow", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.App .hero {
  background: chartreuse;
  padding: 40px;
}

.App h1 {
  font-size: 64px;
  text-align: center;
  margin: 40px;
}

.App p {
  text-align: center;
  color: blue;
  line-height: 2;
}
